<div class="dndsandbox-detail" layout="row">
    <md-sidenav class="md-sidenav-right" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-paddnig role="navigation">
            <div ng-repeat="(listName, list) in itemModels.lists" flex>
                <ul dnd-list="list">
                    <!-- The dnd-draggable directive makes an element draggable and will
                               transfer the object that was assigned to it. If an element was
                               dragged away, you have to remove it from the original list
                               yourself using the dnd-moved attribute -->
                    <li ng-repeat="item in list" dnd-draggable="item" dnd-moved="list.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                        <md-card>
                            <div class="md-media-xl card-media"></div>
                            <md-card-title>
                                <md-card-title-text><span class="md-headline">Title</span></md-card-title-text>
                            </md-card-title>
                            <md-card-content layout="row">
                                <p>
                                    {{item.label}}
                                </p>
                            </md-card-content>
                        </md-card>
                    </li>
                </ul>
            </div>
         <!--   <p>Hey</p> -->
        </md-content>
    </md-sidenav>
    <div layout="column" flex="" role="main">
        <!-- <h1>Here are the details of the dndsandbox</h1>
        <form name="form" ng-submit="save()" class="md-whiteframe-z1" layout-padding>
            <md-input-container>
                <label>Name</label>
                <input ng-model="dndsandbox.name" placeholder="Name">
            </md-input-container>

-->

        <div layout="column">
            <div class="simpleDemo row" flex>

                <div flex>
                    <div class="column">
                        <div>
                            <div>
                                <!-- The dnd-list directive allows to drop elements into it.
                           The dropped data will be added to the referenced list -->
                                <ul dnd-list="boardModel.lists.Canvas">
                                    <div class="listbackground">drag here</div>
                                    <!-- The dnd-draggable directive makes an element draggable and will
                               transfer the object that was assigned to it. If an element was
                               dragged away, you have to remove it from the original list
                               yourself using the dnd-moved attribute -->
                                    <li ng-repeat="item in boardModel.lists.Canvas" dnd-draggable="item" dnd-moved="boardModel.lists.Canvas.splice($index, 1)"
                                    dnd-effect-allowed="move" dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
                                       <md-card>
                                            <div class="md-media-xl card-media"></div>
                                            <md-card-title>
                                                <md-card-title-text><span class="md-headline">Title</span></md-card-title-text>
                                            </md-card-title>
                                            <md-card-content layout="row">
                                                <p>
                                                    {{item.label}} and something
                                                </p>
                                            </md-card-content>
                                        </md-card>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div view-source="simple"></div>

                </div>

                <div flex>
                    <div>
                        <div>
                            <h3>Generated Model</h3>
                        </div>
                        <div>
                            <p class="code">{{boardModelAsJson}}</p>
                            <p class="code">{{itemModelsAsJson}}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div layout="row">
            <input class="md-button" type="submit" value="Save">
            <md-button ng-click="reset()">Reset</md-button>
            <md-button ng-href="/dndsandbox">Cancel</md-button>
        </div>
        <!--   </form>-->
    </div>


    <!--<span flex=""></span>-->
</div>