<div class="notes-list" layout="row">
  <span flex=""></span>
  <div layout="column">
    <h1>Notes</h1>
    <form class="md-whiteframe-z1" ng-submit="save()" name="form" novalidate layout-padding="">
      <p>Add a note</p>
      <md-input-container>
        <label>Name</label>
        <input ng-model="newNote.name" placeholder="Name">
      </md-input-container>
      <input class="md-button" type="submit" value="Add">
    </form>
    <div layout="row" layout-padding="">
      <md-input-container flex="65">
        <label>Search</label>
        <input type="Search" ng-model="search" placeholder="Search">
      </md-input-container>
      <md-select ng-model="orderProperty" flex="35">
        <md-option value="1">Ascending</md-option>
        <md-option value="-1">Descending</md-option>
      </md-select>
    </div>

    <ul>
      <li dir-paginate="note in notes | itemsPerPage: perPage" total-items="notesCount" current-page='page'>
        <p><a href="/notes/{{note._id}}">{{ note.name }}</a> <button ng-click="remove(note)">&times;</button></p>
      </li>
    </ul>
    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

    <p>Total number of notes: {{notesCount}}</p>
  </div>
  <span flex=""></span>
</div>